
.ui-input {
    display: inline-block;
    text-align: left;
}

.ui-input > .ipt {
    display: inline-block;
    width: 200px;
}

.ui-input > .ipt > input {
    width: 100%;
    color: #383838;
    padding: 0px 3px 0px 10px;
    margin: 0px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-color: #999;
    border-left-color: #999;
    background-color: #fff;
    height: 32px;
    font-size: inherit;
    outline: none;
}

.ui-input > .ipt > input::-webkit-outer-spin-button,
.ui-input > .ipt > input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* FireFox */
.ui-input > .ipt > input[type="number"] {
    -moz-appearance: textfield;
}

.ui-input > .ipt > input:focus {
    border-color: #66afe9;
}

.ui-input > .ipt > textarea {
    width: 100%;
    min-height: 65px;
    color: #383838;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-color: #999;
    border-left-color: #999;
    padding: 4px 3px 3px 10px;
    margin: 0px;
    vertical-align: top;
    resize: none;
    outline: none;
    font-size: inherit;
    line-height: 20px;
}

.ui-input > .ipt > textarea:focus {
    border-color: #66afe9;
}

.ui-input > .ipt > .prompt {
    position: absolute;
    left: 10px;
    right: 3px;
    top: 50%;
    padding-top: 1px;
    margin-top: -15px;
    line-height: 30px;
    color: #999;
    overflow: hidden;
    pointer-events: none;
    white-space: nowrap;
}

.ui-input > .ipt > .clear {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 1px;
    top: 50%;
    margin-top: -15px;
    background-color: #fff;
    background-image: url(/vrender-ui/icons/002a.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: .25;
    z-index: 1;
}

.ui-input > .ipt > .clear:hover {
    opacity: .6;
    background-color: #eee;
}

.ui-input > .ipt > .clear:active {
    opacity: .8;
    background-color: #ddd;
}

.ui-input > .ipt > .size {
    position: absolute;
    right: 0px;
    bottom: 0px;
    line-height: 12px;
    font-size: 12px;
    color: #999;
    background-color: #fff;
    transform: scale(.8);
    display: none;
}

.ui-input > .ipt > .tips {
    position: absolute;
    white-space: nowrap;
    top: 0px;
    left: 100%;
    line-height: 32px;
    padding-left: 10px;
    color: #383838;
}

.ui-input > .ipt > .preview {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    visibility: hidden;
    border: 1px solid #ddd;
    pointer-events: none;
}

.ui-input > .ipt > .preview > pre {
    padding: 4px 3px 3px 10px;
    margin: 0px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 20px;
    white-space: pre-wrap;
}

.ui-input > .ipt:hover > input {
    padding-right: 30px;
}

.ui-input > .errmsg {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 0px 5px;
    color: #f00;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #ff7878;
    border-radius: 3px;
    background-color: #fff0f0;
    z-index: 100;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.5s;
}

.ui-input > .errmsg:before {
    content: "";
    position: absolute;
    left: 10px;
    top: -8px;
    border: 0px solid transparent;
    border-width: 0px 6px 8px 6px;
    border-bottom-color: #ff7878;
}

.ui-input > .errmsg:after {
    content: "";
    position: absolute;
    left: 10px;
    top: -7px;
    border: 0px solid transparent;
    border-width: 0px 6px 8px;
    border-bottom-color: #fff1f0;
}

.ui-input > .desc {
    color: #787878;
    line-height: 20px;
}

.ui-input.multi > .ipt {
    min-width: 400px;
}

.ui-input.multi > .ipt > .prompt {
    top: 0px;
    margin-top: 0px;
}

.ui-input.has-val > .ipt > .prompt {
    display: none;
}

.ui-input.has-val > .ipt:hover > .clear {
    display: block;
}

.ui-input.show-size > .ipt > input {
    padding-right: 30px;
}

.ui-input.show-size > .ipt > .size {
    display: block;
}

.ui-input.show-size > .ipt:hover > .size {
    display: none;
}

.ui-input.is-error > .ipt > input,
.ui-input.is-error > .ipt > textarea {
    border-color: #fb4040;
}

.ui-input.is-error > .errmsg {
    display: block;
}

.ui-input.is-error > .errmsg.animate-in {
    opacity: 1;
}

.ui-input.is-error > .errmsg.animate-out {
    opacity: 0;
}

.ui-input[opt-readonly] > .ipt > input,
.ui-input[opt-readonly] > .ipt > textarea {
    background-color: #fffcf4;
    padding-right: 3px;
}

.ui-input[opt-readonly] > .ipt:hover > .clear {
    display: none;
}

.ui-input[opt-fixed] > .ipt {
    width: 100%;
}

.ui-input[opt-pwd] > .ipt > input {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
}

.ui-input[disabled] > .ipt > input,
.ui-input[disabled] > .ipt > textarea {
    color: #ccc;
    background-color: #f9f9f9;
    padding-right: 3px;
    pointer-events: none;
}

.ui-input[disabled] > .ipt > .clear {
    display: none;
}
