
.ui-input {
	font-size: 0.16rem;
}

.ui-input > .ipt {
	width: 100%;
    height: 0.44rem;
    border: 1px solid #ddd;
    border-radius: 0.03rem;
    background-color: #fff;
    overflow: hidden;
}

.ui-input > .ipt > input {
	width: 100%;
    height: 100%;
    color: inherit;
    font-size: inherit;
    border: 0px;
    background: none;
    padding: 0px 0.1rem 0px 0.14rem;
    margin: 0px;
    outline: none;
}

.ui-input > .ipt > input::-webkit-outer-spin-button,
.ui-input > .ipt > input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* FireFox */
.ui-input > .ipt > input[type="number"] {
    -moz-appearance: textfield;
}


.ui-input > .ipt > textarea {
    display: block;
    padding: 0.09rem 0.14rem 0rem;
    margin: 0px;
    width: 100%;
    height: 100%;
    color: inherit;
    /*font-size: 0.145rem;*/
    font-size: inherit;
    line-height: 0.22rem;
    border: 0px;
    background: none;
    outline: none;
    resize: none;
}

.ui-input > .ipt > .clear {
	display: none;
	position: absolute;
    width: 0.4rem;
    height: 0.42rem;
    top: 0.01rem;
    right: 0px;
    background-image: url(/vrender-ui/icons/002a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.16rem;
    opacity: 0.25;
}

.ui-input > .ipt > .prompt {
	position: absolute;
    left: 0.14rem;
    top: 50%;
    color: #999;
    line-height: 0.2rem;
    margin-top: -0.1rem;
    pointer-events: none;
}

.ui-input > .ipt > .tips {
    position: absolute;
    top: 0.11rem;
    right: 0.1rem;
    color: #787878;
    font-size: 0.14rem;
    line-height: 0.22rem;
}

.ui-input > .ipt > .size {
    position: absolute;
    right: 0.03rem;
    bottom: 0px;
    color: #999;
    font-size: 0.1rem;
    line-height: 0.16rem;
    pointer-events: none;
}

.ui-input > .desc {
	color: #787878;
    font-size: 0.14rem;
    line-height: 0.2rem;
}

.ui-input > .errmsg {
	display: none;
	color: #f00;
    font-size: 0.14rem;
}

.ui-input.focus > .ipt {
    border-color: #ccc;
    background-color: #fdfaf6;
}

.ui-input.multi > .ipt {
	height: 1rem;
}

.ui-input.multi > .ipt > .prompt {
	top: 0.09rem;
	margin-top: 0px;
}

.ui-input.has-val > .ipt > input {
	padding-right: 0.4rem;
}

.ui-input.has-val > .ipt > .clear {
	display: block;
}

.ui-input.has-val > .ipt > .prompt {
	display: none;
}

.ui-input.has-val > .ipt > .tips {
    right: 0.4rem;
}

.ui-input.has-val > .ipt > .size {
    color: #ddd;
}

.ui-input.is-error > .ipt {
	border-color: #f00;
}

.ui-input.is-error > .errmsg {
	display: block;
    opacity: 0;
    transition: opacity 0.25s;
}

.ui-input.is-error > .errmsg.animate-in {
    opacity: 1;
}

.ui-input.is-error > .errmsg.animate-out {
    opacity: 0;
}

.ui-input[opt-readonly] > .ipt > input {
    padding-right: 0.1rem;
    background-color: #fffcf4;
}

.ui-input[opt-readonly] > .ipt > textarea {
    background-color: #fffcf4;
}

.ui-input[opt-readonly] > .ipt > .clear {
    display: none;
}

.ui-input[opt-autoheight] > .ipt {
    height: auto;
    min-height: 1rem;
}

.ui-input[opt-autoheight] > .ipt > .preview {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    border: 1px solid #ddd;
    pointer-events: none;
    visibility: hidden;
}

.ui-input[opt-autoheight] > .ipt > .preview > pre {
    padding: .09rem .14rem 0;
    white-space: pre-wrap;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 0.22rem;
}

.ui-input[opt-pwd] > .ipt > input {
    -webkit-text-security: disc;
    text-security: disc;
}

.ui-input[disabled] > .ipt {
	color: #ccc;
    background-color: #f9f9f9;
    pointer-events: none;
}

.ui-input[disabled] > .ipt > .clear {
	display: none;
}
