
.ui-btn {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    border-radius: 3px;
    background-color: #fff;
}

.ui-btn > .btn {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: inherit;
    font-size: 14px;
    text-align: center;
    border: 0px;
    border-radius: 3px;
    background: none;
    padding: 0px 12px;
    margin: 0px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.2s;
}

.ui-btn > .btn > .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.ui-btn > .dropdownbtn {
    position: absolute;
    width: 24px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(/vrender-ui/icons/005a.png);
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.45;
    pointer-events: none;
}

.ui-btn > .dropdown {
    display: none;
    position: absolute;
    z-index: 200;
    overflow: auto;
    max-height: 210px;
    left: -1px;
    right: -1px;
    top: 100%;
    margin-top: 4px;
    color: #383838;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.ui-btn > .dropdown > ul {
    padding: 2px 0px 3px;
    background-color: #fff;
}

.ui-btn > .dropdown > ul > li {
    padding: 0px 10px;
    line-height: 26px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
}

.ui-btn > .dropdown > ul > li:hover {
    background-color: #eee;
}

.ui-btn-default > .btn {
    border: 1px solid #ddd;
    background-color: #fff;
}

.ui-btn-primary > .btn {
    color: #fff;
    background-color: #0072ff;
}

.ui-btn-success > .btn {
    color: #fff;
    background-color: #19b105;
}

.ui-btn-danger > .btn {
    color: #fff;
    background-color: #fd2121;
}

.ui-btn-warn > .btn {
    color: #fff;
    background-color: #e6a718;
}

.ui-btn-info > .btn {
    color: #fff;
    background-color: #13c9f3;
}

.ui-btn-text > .btn {
}

.ui-btn-link > .btn {
    color: #0054ff;
}

.ui-btn.tiny {
    height: 22px;
}

.ui-btn.tiny > .btn {
    font-size: 12px;
    padding: 0px 3px 1px;
}

.ui-btn.small {
    height: 26px;
}

.ui-btn.small > .btn {
    font-size: 12px;
    padding: 0px 6px 2px;
}

.ui-btn.big {
    height: 38px;
}

.ui-btn.big > .btn {
    font-size: 16px;
    padding: 0px 20px 2px;
}

.ui-btn.bigger {
    height: 46px;
}

.ui-btn.bigger > .btn {
    font-size: 20px;
    padding: 0px 25px 2px;
}

.ui-btn.waiting {
    pointer-events: none;
}

.ui-btn.waiting > .btn:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.ui-btn.waiting > .btn:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin: -8px 0px 0px -8px;
    background-image: url(/vrender-ui/icons/016b.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    animation: ui-loading-animate 1s infinite;
    -webkit-animation: ui-loading-animate 1s infinite;
    z-index: 1;
}

.ui-btn.waiting.tiny > .btn:after {
    background-size: 12px;
}

.ui-btn.waiting.small > .btn:after {
    background-size: 14px;
}

.ui-btn.waiting.big > .btn:after {
    width: 18px;
    height: 18px;
    margin: -9px 0px 0px -9px;
    background-size: 18px;
}

.ui-btn.waiting.bigger > .btn:after {
    width: 20px;
    height: 20px;
    margin: -10px 0px 0px -10px;
    background-size: 20px;
}

.ui-btn-default.waiting > .btn:before {
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
}

.ui-btn.has-items > .btn {
    padding-right: 25px;
}

.ui-btn.has-items.tiny > .btn {
    padding-right: 12px;
}

.ui-btn.has-items.tiny > .dropdownbtn {
    width: 12px;
    background-size: 6px;
}

.ui-btn.has-items.small > .btn {
    padding-right: 20px;
}

.ui-btn.has-items.small > .dropdownbtn {
    width: 20px;
}

.ui-btn.has-items.big > .btn {
    padding-right: 30px;
}

.ui-btn.has-items.big > .dropdownbtn {
    width: 30px;
    background-size: 10px;
}

.ui-btn.has-items.bigger > .btn {
    padding-right: 34px;
}

.ui-btn.has-items.bigger > .dropdownbtn {
    width: 34px;
    background-size: 12px;
}

.ui-btn-primary.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-success.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-warn.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-danger.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-info.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-default > .btn:hover {
    background-color: #f3f3f3;
}

.ui-btn-primary > .btn:hover {
    background-color: #0367e2;
}

.ui-btn-success > .btn:hover {
    background-color: #159204;
}

.ui-btn-danger > .btn:hover {
    background-color: #e21414;
}

.ui-btn-warn > .btn:hover {
    background-color: #ce9411;
}

.ui-btn-info > .btn:hover {
    background-color: #0da8cc;
}

.ui-btn-text > .btn:hover {
    background-color: #e7e7e7;
}

.ui-btn-link > .btn:hover span {
    text-decoration: underline;
}

.ui-btn-default > .btn:active {
    background-color: #e7e7e7;
    box-shadow: 0 0 0 3px rgba(238, 238, 238, 0.5);
}

.ui-btn-primary > .btn:active {
    background-color: #1e80f9;
    box-shadow: 0px 0px 0px 3px rgba(3, 103, 226, 0.15);
}

.ui-btn-success > .btn:active {
    background-color: #1caf08;
    box-shadow: 0px 0px 0px 3px rgba(37, 171, 19, 0.2);
}

.ui-btn-danger > .btn:active {
    background-color: #f14949;
    box-shadow: 0px 0px 0px 3px rgba(253, 33, 33, 0.2);
}

.ui-btn-warn > .btn:active {
    background-color: #efb228;
    box-shadow: 0px 0px 0px 3px rgba(230, 167, 24, 0.25);
}

.ui-btn-info > .btn:active {
    background-color: #0eb9e0;
    box-shadow: 0px 0px 0px 3px rgba(19, 201, 243, 0.25);
}

.ui-btn-text > .btn:active {
    background-color: #f0f0f0;
}

.ui-btn-link > .btn:active {
    background-color: #f0f0f0;
}

.ui-btn[opt-toggle] > .dropdownbtn {
    pointer-events: inherit;
}

.ui-btn[opt-toggle] > .dropdownbtn:before {
    content: "";
    position: absolute;
    width: 1px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    /*background-color: #ddd;*/
}

.ui-btn[opt-toggle] > .dropdownbtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.ui-btn-default[opt-toggle] > .dropdownbtn:before {
    background-color: #ddd;
}

.ui-btn-primary[opt-toggle] > .dropdownbtn:before {
    background-color: #616375;
}

.ui-btn-success[opt-toggle] > .dropdownbtn:before {
    background-color: #56a24c;
}

.ui-btn-warn[opt-toggle] > .dropdownbtn:before {
    background-color: #d4970d;
}

.ui-btn-danger[opt-toggle] > .dropdownbtn:before {
    background-color: #de4b4b;
}

.ui-btn-info[opt-toggle] > .dropdownbtn:before {
    background-color: #12bae0;
}

.ui-btn-text[opt-toggle] > .dropdownbtn:before {
    height: 22px;
    top: 50%;
    bottom: auto;
    margin-top: -11px;
    background-color: #ddd;
}

.ui-btn-link[opt-toggle] > .dropdownbtn:before {
    height: 22px;
    top: 50%;
    bottom: auto;
    margin-top: -11px;
    background-color: #ddd;
}

.ui-btn.has-items[opt-toggle] > .btn {
    padding-right: 36px;
}

.ui-btn.has-items.tiny[opt-toggle] > .btn {
    padding-right: 15px;
}

.ui-btn.has-items.small[opt-toggle] > .btn {
    padding-right: 26px;
}

.ui-btn.has-items.big[opt-toggle] > .btn {
    padding-right: 50px;
}

.ui-btn.has-items.bigger[opt-toggle] > .btn {
    padding-right: 59px;
}

.ui-btn[active] > .btn {
    padding-top: 2px;
    border-left: 1px solid #383838;
    border-top: 1px solid #383838;
}

.ui-btn-default[active] > .btn {
    background-color: #eee;
}

.ui-btn-primary[active] > .btn {
    background-color: #0a5cc1;
}

.ui-btn-success[active] > .btn {
    background-color: #249c14;
}

.ui-btn-danger[active] > .btn {
    background-color: #d00f0f;
}

.ui-btn-warn[active] > .btn {
    background-color: #d09716;
}

.ui-btn-info[active] > .btn {
    background-color: #11aed2;
}

.ui-btn-text[active] > .btn {
    padding-top: 0px;
    border: 0px;
    color: #fff;
    background-color: #ccc;
}

.ui-btn-link[active] > .btn {
    padding-top: 0px;
    color: #ef2005;
    border: 0px;
}

.ui-btn-link[active] > .btn span {
    text-decoration: underline;
}

.ui-btn[disabled] {
    cursor: no-drop;
}

.ui-btn[disabled] > .btn {
    opacity: .35;
    box-shadow: none;
    pointer-events: none;
}

.ui-btn.show-dropdown > .dropdown {
    display: block;
    max-height: 0px;
    opacity: 0;
    transition: all 0.25s;
}

.ui-btn.show-before > .dropdown {
    top: auto;
    bottom: 100%;
    margin-bottom: 4px;
}

.ui-btn.animate-in > .dropdown {
    max-height: 210px;
    opacity: 1;
}

.ui-btn.animate-out > .dropdown {
    max-height: 0px;
    opacity: 0;
}


