
.ui-btn {
    display: inline-block;
	width: 100%;
    height: 0.44rem;
    border-radius: 0.03rem;
}

.ui-btn > .btn {
	width: 100%;
    height: 100%;
    color: inherit;
    font-size: 0.16rem;
    text-decoration: none;
    border: 0px;
    border-radius: 0.03rem;
    background: none;
    padding: 0px 0.12rem;
    outline: none;
    transition: all 0.1s;
}

.ui-btn > .btn > .icon {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    vertical-align: middle;
    margin-top: -0.03rem;
    margin-right: 0.05rem;
    background-position: center;
    background-size: 0.16rem;
    background-repeat: no-repeat;
}

.ui-btn > .dropdownbtn {
    position: absolute;
    width: 0.4rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(/vrender-ui/icons/005a.png);
    background-size: 0.12rem;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.ui-btn > .dropdown {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    color: #333;
    background-color: rgba(0, 0, 0, 0.75);
}

.ui-btn > .dropdown > ul {
    position: absolute;
    overflow: auto;
    max-height: 80%;
    left: 0.15rem;
    right: 0.15rem;
    bottom: 0.1rem;
    border-radius: 0.03rem;
    background-color: rgba(255, 255, 255, 0.95);
}

.ui-btn > .dropdown > ul > li {
    text-align: center;
    line-height: 0.45rem;
    border-top: 1px solid #ddd;
}

.ui-btn > .dropdown > ul > li:first-child {
    border-top: 0px;
}

.ui-btn-default > .btn {
    border: 1px solid #ddd;
    background-color: #fff;
}

.ui-btn-primary > .btn {
    color: #fff;
    background-color: #0072ff;
}

.ui-btn-success > .btn {
    color: #fff;
    background-color: #19b105;
}

.ui-btn-danger > .btn {
    color: #fff;
    background-color: #fd2121;
}

.ui-btn-warn > .btn {
    color: #fff;
    background-color: #e6a718;
}

.ui-btn-info > .btn {
    color: #fff;
    background-color: #13c9f3;
}

.ui-btn-link > .btn {
    color: #0054ff;
}

.ui-btn.tiny {
    width: auto;
    height: 0.24rem;
}

.ui-btn.tiny > .btn {
    font-size: 0.12rem;
}

.ui-btn.small {
    width: auto;
    min-width: 50%;
    height: 0.32rem;
}

.ui-btn.small > .btn {
    font-size: 0.14rem;
}

.ui-btn.big {
    height: 0.5rem;
}

.ui-btn.big > .btn {
    font-size: 0.2rem;
}

.ui-btn.bigger {
    height: 0.6rem;
}

.ui-btn.bigger > .btn {
    font-size: 0.22rem;
}

.ui-btn-primary.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-success.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-warn.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-danger.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn-info.has-items > .dropdownbtn {
    background-image: url(/vrender-ui/icons/005b.png);
    opacity: 0.8;
}

.ui-btn.waiting {
    pointer-events: none;
}

.ui-btn.waiting > .btn:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.ui-btn.waiting > .btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.32rem;
    height: 0.32rem;
    margin: -0.16rem 0px 0px -0.16rem;
    background-image: url(/vrender-ui/icons/016b.png);
    background-size: 0.16rem;
    background-position: center;
    background-repeat: no-repeat;
    animation: ui-loading-animate 1s infinite;
    -webkit-animation: ui-loading-animate 1s infinite;
    z-index: 1;
}

.ui-btn-default > .btn:active {
    background-color: #e7e7e7;
    box-shadow: 0px 0px 0px 0.03rem rgba(238, 238, 238, 0.5);
}

.ui-btn-primary > .btn:active {
    background-color: #1e80f9;
    box-shadow: 0px 0px 0px 0.03rem rgba(3, 103, 226, 0.15);
}

.ui-btn-success > .btn:active {
    background-color: #1bb906;
    box-shadow: 0px 0px 0px 0.04rem rgba(37, 171, 19, 0.2);
}

.ui-btn-warn > .btn:active {
    background-color: #efb228;
    box-shadow: 0px 0px 0px 0.03rem rgba(230, 167, 24, 0.25);
}

.ui-btn-danger > .btn:active {
    background-color: #f14949;
    box-shadow: 0px 0px 0px 0.03rem rgba(253, 33, 33, 0.2);
}

.ui-btn-info > .btn:active {
    background-color: #0eb9e0;
    box-shadow: 0px 0px 0px 0.03rem rgba(19, 201, 243, 0.25);
}

.ui-btn-text > .btn:active {
    background-color: #f0f0f0;
}

.ui-btn-link > .btn:active {
    background-color: #f0f0f0;
}

.ui-btn.has-items[opt-toggle] > .btn {
    padding-right: 0.52rem;
}

.ui-btn[opt-toggle] > .dropdownbtn:active {
    background-color: #ddd;
}

.ui-btn-default[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #aaa;
}

.ui-btn-primary[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #9b9ba5;
}

.ui-btn-success[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #488641;
}

.ui-btn-warn[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #a57304;
}

.ui-btn-danger[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #bb4141;
}

.ui-btn-info[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #098cab;
}

.ui-btn-text[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #aaa;
}

.ui-btn-link[opt-toggle] > .dropdownbtn {
    border-left: 1px solid #aaa;
}

.ui-btn-link > .btn:active {
    background-color: #f6f6f6;
}

.ui-btn[active] > .btn {
    /*padding-top: 0.01rem;*/
    text-shadow: 0px 0px 0.1rem #fff;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.ui-btn-default[active] > .btn {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    background-color: #eee;
}

.ui-btn-primary[active] > .btn {
    background-color: #1372e8;
}

.ui-btn-success[active] > .btn {
    background-color: #53984c;
}

.ui-btn-danger[active] > .btn {
    background-color: #cc4444;
}

.ui-btn-warn[active] > .btn {
    background-color: #bf880a;
}

.ui-btn-info[active] > .btn {
    background-color: #0bb6de;
}

.ui-btn-text[active] > .btn {
    color: #fff;
    border: 0px;
    background-color: #ccc;
}

.ui-btn-link[active] > .btn {
    color: #ef2005;
    border: 0px;
}

.ui-btn[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.ui-btn.show-dropdown > .dropdown {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color linear 0.2s;
}

.ui-btn.show-dropdown > .dropdown > ul {
    max-height: 0px;
    transition: max-height linear 0.2s;
}

.ui-btn.animate-in > .dropdown {
    background-color: rgba(0, 0, 0, 0.75);
}

.ui-btn.animate-in > .dropdown > ul {
    max-height: 80%;
}

.ui-btn.animate-out > .dropdown {
    background-color: rgba(0, 0, 0, 0);
}

.ui-btn.animate-out > .dropdown > ul {
    max-height: 0px;
}
