
.ui-scroll {
	width: 100%;
	height: 100%;
	border: 1px solid #eee;
	overflow: auto;
}

.ui-scroll > .container > .ui-list {
	min-height: 0px;
	border: 0px;
}

.ui-scroll > .container > .ui-list > ul {
	opacity: 1;
	pointer-events: inherit;
}

.ui-scroll > .container > .ui-list > .ui-load {
	display: none;
}

.ui-scroll > .container > .ui-list > .ui-empty {
	display: none;
}

.ui-scroll > .top {
	height: 0px;
	overflow: hidden;
	background-color: #fafafa;
}

.ui-scroll > .top > .scroll-refreshdef {
	height: 100%;
	color: #999;
	overflow: hidden;
}

.ui-scroll > .top > .scroll-refreshdef > * {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-left: 20px;
}

.ui-scroll > .top > .scroll-refreshdef > *:before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 50%;
	margin-top: -8px;
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-scroll > .top > .scroll-refreshdef[state='pull'] > .pull {
	display: block;
}

.ui-scroll > .top > .scroll-refreshdef[state='pull'] > .pull:before {
	background-image: url(/vrender-ui/icons/029a.png);
	opacity: 0.35;
}

.ui-scroll > .top > .scroll-refreshdef[state='drop'] > .drop {
	display: block;
}

.ui-scroll > .top > .scroll-refreshdef[state='drop'] > .drop:before {
	background-image: url(/vrender-ui/icons/029a.png);
	transform: rotate(180deg);
	opacity: 0.5;
}

.ui-scroll > .top > .scroll-refreshdef[state='load'] > .load {
	display: block;
}

.ui-scroll > .top > .scroll-refreshdef[state='load'] > .load:before {
	background-image: url(/vrender-ui/icons/017a.png);
	animation: ui-loading-animate 1s steps(8, end) infinite;
    -webkit-animation: ui-loading-animate 1s steps(8, end) infinite;
}

.ui-scroll > .top.animate {
	transition: height 0.2s;
}

.ui-scroll > .bottom > * {
	display: none;
}

.ui-scroll > .bottom > .scroll-load {
	border-top: 1px solid #eee;
}

.ui-scroll > .bottom > .scroll-load > .scroll-loaddef {
	padding: 20px 0px;
	color: #999;
	text-align: center;
}

.ui-scroll > .bottom > .scroll-load > .scroll-loaddef > p {
	display: inline-block;
    position: relative;
    padding-left: 25px;
}

.ui-scroll > .bottom > .scroll-load > .scroll-loaddef > p:before {
	content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 50%;
    margin-top: -8px;
    background-image: url(/vrender-ui/icons/017a.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.ui-scroll > .bottom > .scroll-bottom {
	border-top: 1px solid #eee;
}

.ui-scroll > .bottom > .scroll-bottom > .scroll-bottomdef {
	padding: 20px 0px;
	color: #999;
	text-align: center;
}

.ui-scroll > .ui-empty {
    position: absolute;
    height: auto;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.ui-scroll.is-loading > .bottom > .scroll-load {
	display: block;
}

.ui-scroll.is-loading > .bottom > .scroll-load > .scroll-loaddef > p:before {
	animation: ui-loading-animate 1s steps(8, end) infinite;
    -webkit-animation: ui-loading-animate 1s steps(8, end) infinite;
}

.ui-scroll.is-empty {
	min-height: 120px;
}

.ui-scroll.is-empty > .ui-empty {
	/*display: block;*/
}

.ui-scroll.no-more > .bottom > .scroll-bottom {
	display: block;
}

.ui-scroll.is-loading > .ui-empty {
	display: none;
}

.ui-scroll.is-refresh > .ui-empty {
	display: none;
}
