
.ui-select {
	display: inline-block;
    width: 200px;
}

.ui-select > .ipt {
    cursor: pointer;
}

.ui-select > .ipt > input {
	width: 100%;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-color: #999;
    border-left-color: #999;
    background-color: #fff;
    font-size: 16px;
    padding: 0px 25px 0px 10px;
    margin: 0px;
    outline: none;
    cursor: inherit;
}

.ui-select > .ipt > input:hover {
	background-color: #f6f6f6;
}

.ui-select > .ipt > input:focus {
	border-color: #66afe9;
}

.ui-select > .ipt > .dropdownbtn {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 25px;
    border: 0px;
    border-radius: 0px;
    background: none;
    background-image: url(/vrender-ui/icons/005a.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    margin: 0px;
    outline: none;
    cursor: pointer;
}

.ui-select > .ipt > .prompt {
	position: absolute;
    left: 10px;
    top: 1px;
    right: 25px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}

.ui-select > .dropdown {
    display: none;
    position: absolute;
    z-index: 200;
    overflow: auto;
    width: 100%;
    max-height: 210px;
    left: 0px;
    top: 100%;
    margin-top: 3px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px #ddd;
}

.ui-select > .dropdown > .box {
    padding: 0px 0px 1px;
    background-color: #fff;
}

.ui-select > .dropdown > .box > .grp {
    padding: 3px 0px;
    border-top: 1px solid #eee;
}

.ui-select > .dropdown > .box > .grp:first-child {
    border-top: 0px;
}

.ui-select > .dropdown > .box > .grp > .title {
    padding: 0px 10px;
    color: #aaa;
    font-size: 12px;
    line-height: 22px;
    pointer-events: none;
}

.ui-select > .dropdown > .box > .grp > .item {
    padding: 0px 10px;
    line-height: 26px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ui-select > .dropdown > .box > .grp > .item:hover {
    background-color: #f0f0f0;
}

.ui-select > .dropdown > .box > .grp > .item:active {
    background-color: #ddd;
}

.ui-select > .dropdown > .box > .grp > .item.selected {
    color: #fff;
    background-color: #333444;
    cursor: default;
}

.ui-select > .dropdown > .box > .grp > .item.disabled {
    color: #999;
    pointer-events: none;
}

.ui-select > .dropdown > .box > .ui-load {
    position: relative;
}

.ui-select > .dropdown > .box > .ui-load > .ui-loaddef {
    position: relative;
    max-width: none;
    left: auto;
    top: auto;
    padding: 0px 10px 0px 30px;
    text-align: left;
    line-height: 26px;
    border-top: 1px solid #eee;
    transform: none;
}

.ui-select > .dropdown > .box > .ui-load > .ui-loaddef:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 10px;
    top: 50%;
    margin-left: 0px;
    margin-top: -8px;
    background-image: url(/vrender-ui/icons/017a.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    animation: ui-loading-animate 1s steps(8, end) infinite;
    -webkit-animation: ui-loading-animate 1s steps(8, end) infinite;
}

.ui-select > .dropdown > .box > .ui-more > .ui-moredef {
    padding-left: 10px;
    color: #1976D2;
    line-height: 26px;
    border-top: 1px solid #eee;
    cursor: pointer;
}

.ui-select > .dropdown > .box > .ui-more > .ui-moredef:hover {
    text-decoration: underline;
}

.ui-select.has-val > .ipt > .prompt {
	display: none;
}

.ui-select.editable > .ipt {
    cursor: text;
}

.ui-select.editable > .ipt > .dropdownbtn {
	border-left: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.ui-select.editable > .ipt > .dropdownbtn:hover {
	background-color: #f3f3f3;
}

.ui-select.editable > .ipt > .dropdownbtn:active {
	background-color: #eee;
}

.ui-select.show-dropdown > .dropdown {
	display: block;
    max-height: 0px;
    opacity: 0;
    transition: all 0.25s;
}

.ui-select.show-before > .dropdown {
	top: auto;
	bottom: 100%;
    margin-bottom: 3px;
}

.ui-select.animate-in > .dropdown {
    max-height: 210px;
    opacity: 1;
}

.ui-select.animate-out > .dropdown {
    max-height: 0px;
    opacity: 0;
}

.ui-select.is-loading > .dropdown > .box > .ui-load {
    display: block;
}

.ui-select[disabled] {
    opacity: 0.5;
    cursor: no-drop;
}

.ui-select[disabled] > .ipt {
    pointer-events: none;
}

.ui-select[disabled] > .ipt > input {
    background-color: #f0f0f0;
}
