
.vrender-ui {
	color: #333;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.vrender-ui * {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.vrender-ui header,
.vrender-ui section,
.vrender-ui footer {
    display: block;
    position: relative;
}

.vrender-ui table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.vrender-ui td {
    padding: 0px;
}

.vrender-ui p,
.vrender-ui dl,
.vrender-ui dd {
    margin: 0px;
}

.vrender-ui ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.vrender-ui input {
    outline: none;
}

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.ui-hidden, .ui-fn {
	display: none;
}

.ui-scrollless {
	overflow: hidden !important;
}


.ui-empty {
	display: none;
	height: 120px;
}

.ui-empty > .ui-emptydef {
	position: absolute;
    min-width: 80px;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #aaa;
    text-align: center;
}

.ui-empty > .ui-emptydef:before {
	content: "";
    display: block;
    height: 50px;
    background-image: url(/vrender-ui/icons/018a.png);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.35;
}

.is-empty > .ui-empty {
	display: block;
}


.ui-load {
	display: none;
	position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.ui-load > .ui-loaddef {
	position: absolute;
    min-width: 90px;
    max-width: 80%;
    left: 50%;
    top: 50%;
    padding-top: 40px;
    color: #787878;
    font-size: 14px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.ui-load > .ui-loaddef:before {
	content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 0px;
    margin-left: -16px;
    background-image: url(/vrender-ui/icons/017a.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.is-loading > .ui-load {
	display: block;
}


@-webkit-keyframes ui-loading-animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes ui-loading-animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes ui-loading-animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes ui-loading-animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
